.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.addTask {
    margin: auto;
    width: 100%;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px; 
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form div {
    margin: 10px 0;
    text-align: left;
  }
  
  .input-label {
    font-weight: bold;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .textarea-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
  }
  
  .addButton {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .addButton:hover {
    background-color: #0056b3;
  }
  
  /* Updated styles for your Draggable list */
.Droppable-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  }
  
  .draggable-item {
    user-select: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
  }
  
  .draggable-item:hover {
    transform: scale(1.02);
  }
  
  .task {
    padding: 10px;
  }
  
  .taskTitle {
    font-weight: bold;
    height: fit-content;
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
  }
  
  .taskDescription {
    color: #555;
    height: fit-content;
    word-wrap: break-word;
  }
  .delete{
    cursor: pointer;
  }
  .options{
    display: flex;
    flex-direction: row;
  }
  .edit{
    cursor: pointer;
  }
  @media only screen and (max-width: 730px) {
    .row{
      display: flex;
      flex-direction: column;
      /* border: 2px solid black; */
      width: fit-content;
      margin: auto;
    }
    .Droppable-container{
      margin-bottom: 20px;
    }
  }
 
  